table {
  border-collapse: separate;
  border-spacing: 0;
}
caption, th, td {
  text-align: left;
  font-weight: normal;
}

table#headers {
    margin: 5px;
    border: 1px solid #1f3244;
}

td {
    padding: 5px;
}

tr:nth-child(odd) {
    background-color: #ddd;
}

input#url {
    width: 400px;
    margin: 20px;
}